[defaults]
inventory = hosts
log_path = /var/log/ansible.log
stdout_callback = yaml
retry_files_enabled = False
ansible_python_interpreter = /usr/bin/python3

callback_whitelist = timer, profile_tasks

vault_password_file=/home/bernhard/.vault_key.txt

force_color = true

[colors]
highlight = white
verbose = purple
warn = bright magenta
error = red
debug = cyan
deprecate = blue
skip = cyan
unreachable = red
ok = green
changed = yellow
diff_add = green
diff_remove = red
diff_lines = dark gray

# possible colors
#
#        black
#        bright gray
#        blue
#        white
#        green
#        bright blue
#        cyan
#        bright green
#        red
#        bright cyan
#        purple
#        bright red
#        yellow
#        bright purple
#        dark gray
#        bright yellow
#        magenta
#        bright magenta
#        normal

