[Unit]
Description=Synology NAS software share on 192.168.29.10
DefaultDependencies=no
Conflicts=umount.target
After=network-online.target remote-fs.target
Before=umount.target

[Mount]
What=192.168.29.10:/volume1/software
Where=/mnt/NAS/software
Type=nfs
Options=defaults

[Install]
WantedBy=multi-user.target
