---
- name: Run all tasks from workstation role
  when:
    - task_failed is not defined
  block:

    - name: Include vars file
      tags: always
      ansible.builtin.include_vars: vault_secrets.yml

    ## Development
    - name: Import java tasks
      ansible.builtin.import_tasks:
        file: development/java.yml
    - name: Import development tasks
      ansible.builtin.import_tasks:
        file: development/development.yml

    ## install software
    - name: Import calibre tasks
      ansible.builtin.import_tasks:
        file: software/calibre.yml
#    - name: Import variety tasks
#      ansible.builtin.import_tasks:
#        file: software/variety.yml
#    - name: Import fsearch tasks
#      ansible.builtin.import_tasks:
#        file: software/fsearch.yml
    - name: Import gimp tasks
      ansible.builtin.import_tasks:
        file: software/gimp.yml
    - name: Import ipscan tasks
      ansible.builtin.import_tasks:
        file: software/ipscan.yml
    - name: Import librecad tasks
      ansible.builtin.import_tasks:
        file: software/librecad.yml
#    - name: Import media tasks
#      ansible.builtin.import_tasks:
#        file: software/media.yml              # try offline - froze with locked dpkg database
    - name: Import games tasks
      ansible.builtin.import_tasks:
        file: software/games.yml
#    - name: Import steam tasks
#      ansible.builtin.import_tasks:
#        file: software/steam.yml              # needs investigations
    - name: Import installation of various snap packages
      ansible.builtin.import_tasks:
        file: software/snap_packages.yml
    - name: Import vlc tasks
      ansible.builtin.import_tasks:
        file: software/vlc.yml

    ## Virtualization
    - name: Import kvm tasks
      ansible.builtin.import_tasks:
        file: virtualization/kvm.yml
    - name: Import multipass tasks
      ansible.builtin.import_tasks:
        file: virtualization/multipass.yml

    ## User configs
    - name: Import final config user bernhard
      ansible.builtin.import_tasks:
        file: users/bernhard.yml

  rescue:
    - name: Set fact to true if tasks failed
      ansible.builtin.set_fact:
        task_failed: true
