---
- name: Users | bernhard block
  when:
    - bernhard is defined
    - bernhard
  block:
    - name: Users | bernhard | create inxi.conf file with VIRT_TERM_COLOR_SCHEME line
      ansible.builtin.copy:
        dest: "/home/{{ user_name }}/.config/inxi.conf"
        content: |
          VIRT_TERM_COLOR_SCHEME=29
        owner: "{{ user_name }}"
        group: "{{ group_name }}"
        mode: "0644"

    - name: Users | bernhard | import tasks for vim
      ansible.builtin.import_tasks: ../software/vim.yml
