---
- name: Users | marlies block
  when:
    - marlies is defined
    - marlies
  block:
#  define these variables in host_vars
#    - name: users | marlies | user name fact
#      ansible.builtin.set_fact:
#        user_name: 'marlies'
#        group_name: 'users'

    - name: Users | marlies | add sudoers file
      ansible.builtin.copy:
        src: users/sudoers_marlies
        dest: /etc/sudoers.d/marlies
        owner: root
        group: root
        mode: 0440

    - name: Users | marlies | change first occurence of Exec=tilix in /usr/share/applications/com.gexperts.Tilix.desktop
      become: true
      become_method: ansible.builtin.sudo
      ansible.builtin.lineinfile:
        path: /usr/share/applications/com.gexperts.Tilix.desktop
        regexp: "^Exec=tilix"
        line: "Exec=tilix --title=my-tilix"
        firstmatch: true
        state: present
 
    - name: Users | marlies | change Exec= line for Tilix New Window in com.gexperts.Tilix.desktop
      become: true
      become_method: ansible.builtin.sudo
      ansible.builtin.lineinfile:
        path: /usr/share/applications/com.gexperts.Tilix.desktop
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
      with_items:
        - { regexp: '^Exec=tilix --action=app-new-window', line: 'Exec=tilix --action=app-new-window --geometry=80x24+350+120 --session=~/.config/tilix/wide.json' }
        - { regexp: '^Exec=tilix --action=app-new-session', line: 'Exec=tilix --title=my-tilix --action=app-new-session' } 

    - name: Users | marlies | copy dotfiles
      ansible.builtin.copy:
        src: users/{{ item.src }}
        dest: /home/{{ user_name }}/{{ item.dest }}
        owner: "{{ user_name }}"
        group: "{{ group_name }}"
        mode: 0600
      with_items:
        - { src: 'bash/bash_aliases', dest: '.bash_aliases' }
        - { src: 'bash/bash_functions', dest: '.bash_functions' }
        - { src: 'bash/bashrc', dest: '.bashrc' }
        - { src: 'bash/dircolors', dest: '.dircolors' }
        - { src: 'tilix/split.json', dest: '.config/tilix/split.json' }
        - { src: 'tilix/wide.json', dest: '.config/tilix/wide.json' }
