---
- name: Users | marlies block
  when:
    - marlies is defined
    - marlies
  block:
#  define these variables in host_vars
#    - name: users | marlies | user name fact
#      ansible.builtin.set_fact:
#        user_name: 'marlies'
#        group_name: 'users'
     - name: Users | marlies | message
       ansible.builtin.debug:
         msg: "Marlies block has been executed"
