---
- name: Gnome | gedit block
  become: true
  become_method: ansible.builtin.sudo
  block:

    - name: Gnome | gedit | Add gedit-plugins and draw-spaces (activate in preferences)
      ansible.builtin.apt:
        pkg: 
          - gedit-plugin-draw-spaces
          - gedit-plugins
        state: present

    - name: Gnome | gedit | create gedit/styles directories
      ansible.builtin.file:
        path: /home/{{ user_name }}/.local/share/gedit/styles
        state: directory
        owner: "{{ user_name }}"
        group: "{{ group_name }}"
        mode: "0755"
        recurse: true

    - name: Gnome | gedit | download gedit colorschemes from github
      ansible.builtin.git:
        repo: "https://github.com/mig/gedit-themes.git"
        dest: "/tmp/gedit-themes"
        version: master

    - name: Gnome | gedit | copy gedit colorschemes to .local/share/gedit/styles
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: /home/{{ user_name }}/.local/share/gedit/styles/
        owner: "{{ user_name }}"
        group: "{{ group_name }}"
        mode: "0644"
      with_fileglob: "/tmp/gedit-themes/*.xml"

    - name: Users | gedit | set active plugins
      community.general.dconf:
        key: "/org/gnome/gedit/plugins/active-plugins"
        value: "['drawspaces', 'textsize', 'spell', 'sort', 'quickhighlight', 'filebrowser']"
      
    - name: Users | gedit | set editor values
      community.general.dconf:
        key: "/org/gnome/gedit/preferences/editor/{{ item.key }}"
        value: "{{ item.value }}"
      with_items:
        - { key: 'insert-spaces', value: 'true' }
        - { key: 'tabs-size', value: 'uint32 2' }
        - { key: 'style-scheme-for-dark-theme-variant', value: "'cobalt'" }
        - { key: 'wrap-last-split-mode', value: "'word'" }
...
