---
# Install lsd rustup eza and nerd fonts
#

- name: Software | lsd | install lsd & fontconfig utilities
  ansible.builtin.apt:
    state: present
    pkg:
      - fontconfig
      - lsd

- name: Software | eza | delete gierens.gpg file
  ansible.builtin.file:
    path: /etc/apt/keyrings/gierens.gpg
    state: absent

- name: Software | eza | add eza apt key to keyring file (executable must be zsh shell, if not - error)
  ansible.builtin.shell: |
    set -o pipefail
    curl -fsSL https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | \
    sudo gpg --dearmor -o /etc/apt/keyrings/gierens.gpg
  args:
    executable: /bin/zsh
  register: eza_gpgkey
  changed_when: eza_gpgkey.rc == 0


- name: Software | eza | add eza apt repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/gierens.gpg] https://deb.gierens.de stable main"
    state: present
    update_cache: true

- name: Software | eza | install eza
  ansible.builtin.apt:
    pkg:
      - eza

- name: Software | Fonts | check if /usr/local/share/fonts/nerd exists
  ansible.builtin.stat:
    path: /usr/local/share/fonts/nerd
  register: font_dir

- name: Software | Font install Block
  when: not font_dir.stat.exists
  block:
 
    - name: Software | lsd | Creates nerd fonts directory used by lsd
      ansible.builtin.file:
        path: /usr/local/share/fonts/nerd
        state: directory
        owner: root
        group: root
        mode: "0775"

    - name: Software | lsd | download latest release info for lsd nerd fonts
      ansible.builtin.shell: |
        set -o pipefail
        curl --silent https://api.github.com/repos/ryanoasis/nerd-fonts/releases/latest |
        jq -r .tag_name
      args:
        executable: /bin/bash
      register: fonts_release
      changed_when: fonts_release.rc == 0

    - name: Software | lsd | idempotend unarchive nerd fonts with creates
      become: true
      become_method: ansible.builtin.sudo
      ansible.builtin.unarchive:
        src: https://github.com/ryanoasis/nerd-fonts/releases/download/{{ fonts_release.stdout }}/{{ item.zip }}
        dest: /usr/local/share/fonts/nerd
        remote_src: true
        owner: root
        group: root
        mode: "0644"
        creates: /usr/local/share/fonts/nerd/{{ item.file }}
      with_items:
        - { zip: "UbuntuMono.zip", file: "UbuntuMonoNerdFont-Bold.ttf" }
        - { zip: "VictorMono.zip", file: "VictorMonoNerdFont-Bold.ttf" }
        - { zip: "JetBrainsMono.zip", file: "JetBrainsMonoNerdFont-Bold.ttf" }
        - { zip: "FiraCode.zip", file: "FiraCodeNerdFont-Bold.ttf" }

    - name: Software | lsd | create cache for new fonts
      ansible.builtin.command: fc-cache -v -f
      register: create_cache
      changed_when: create_cache.rc == 0
  # end block nerd directory does not exist
...
