---
- name: Software | utilities | install utility packages
  ansible.builtin.apt:
    state: present
    pkg:
      - aptitude
      - at
      - bat
      - btop
      - ccze
      - conky-all
      - cowsay
      - cpulimit
      - stacer
      - dconf-editor
      - di
      - dnsutils
      - duf
      - etherape
      - fd-find
      - fortune
      - ghostwriter
      - gparted
      - libimage-exiftool-perl
      - libjson-xs-perl
      - libxml-dumper-perl
      - nala
      - ncdu
      - net-tools
      - nmap
      - p7zip-full
      - pdfsam
      - plocate
      - pv
      - traceroute
      - ripgrep
      - speedtest-cli
      - sshpass
      - terminator
      - vim-nox
      - whois

# - name: Software | utilities | remove thunderbird, htop and problem report packages
#   ansible.builtin.apt:
#     state: absent
#     autoremove: true
#     pkg:
#       - thunderbird*
#       - htop
#       - apport
#       - apport-gtk
#       - apport-symptoms
