---
- name: Software | java block
  when:
    - java is defined
    - java

  become: true
  become_method: ansible.builtin.sudo

  block:
    - name: Software | java | install java environment
      ansible.builtin.apt:
        pkg:
#          - default-jdk
          - "{{ openjdk_version }}-jdk"
          - "{{ openjdk_version }}-demo"
          - "{{ openjdk_version }}-doc"
          - "{{ openjdk_version }}-jre-headless"
          - "{{ openjdk_version }}-source"
          - libreoffice-script-provider-python
          - libreoffice-java-common

# Check: https://gluonhq.com/products/javafx/ for latest release
    - name: Software | javafx | Unzip javafx (idempotent with creates file)
      ansible.builtin.unarchive:
        src: https://download2.gluonhq.com/openjfx/{{ javafx_version }}/openjfx-{{ javafx_version }}_linux-x64_bin-sdk.zip
        dest: /opt
        owner: root
        group: root
        mode: "0755"
        creates: /opt/javafx-sdk-{{ javafx_version }}/lib/javafx.base.jar

    - name: Software | java & javafx | Replace export statements in .bashrc
      ansible.builtin.lineinfile:
        path: /home/{{ user_name }}/.bashrc
        regexp: "{{ item.regex }}"
        line: "{{ item.repl }}"
      with_items:
        - { regex: '^export PATH_TO_FX=', repl: 'export PATH_TO_FX=/opt/javafx-sdk-{{ javafx_version }}/lib' }
        - { regex: '^export CLASSPATH=', repl: 'export CLASSPATH=.:/usr/lib/jvm/{{ jdk_classpath_version }}/lib:$PATH_TO_FX' }

    - name: Software | java & javafx | Replace export statements in .zshenv
      ansible.builtin.lineinfile:
        path: /home/{{ user_name }}/.zshenv
        regexp: "{{ item.regex }}"
        line: "{{ item.repl }}"
      with_items:
        - { regex: '^export PATH_TO_FX=', repl: 'export PATH_TO_FX=/opt/javafx-sdk-{{ javafx_version }}/lib' }
        - { regex: '^export CLASSPATH=', repl: 'export CLASSPATH=.:/usr/lib/jvm/{{ jdk_classpath_version }}/lib:$PATH_TO_FX' }
