[Unit]
Description=NAS scan share
After=network.target

[Mount]
What=192.168.1.2:/scan
Where=/mnt/NAS/scan
Type=nfs
Options=_netdev

[Install]
WantedBy=multi-user.target
