[Unit]
Description=NAS steuern share
After=network.target

[Mount]
What=192.168.1.2:/steuern
Where=/mnt/NAS/steuern
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
