[Unit]
Desctiption=Digikam partition
ConditionPathExists=/mnt/Digikam

[Mount]
What=/dev/disk/by-uuid/2f72373a-4233-4a00-967f-8a990df57715
Where=/mnt/Digikam
Type=ext4
Option=defaults,x-gvfs-show

[Install]
WantedBy=multi-user.target
