[Unit]
Description=NAS documents share
After=network-online.target

[Mount]
What=192.168.29.10:/volume1/rechnungen
Where=/mnt/NAS/rechnungen
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
