[Unit]
Desctiption=Games partition
ConditionPathExists=/mnt/Games

[Mount]
What=/dev/disk/by-uuid/3c4c2022-6fe3-4b53-ba80-bf5a7406ee4f
Where=/mnt/Games
Type=ext4
Option=defaults,x-gvfs-show

[Install]
WantedBy=multi-user.target
