[Unit]
Description=Synology NAS software share on 192.168.29.10
After=network-online.target

[Mount]
What=192.168.29.10:/volume1/software
Where=/mnt/NAS/software
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
