[Unit]
Description=Synology NAS manuals share on 192.168.29.10
After=network-online.target

[Mount]
What=192.168.29.10:/volume1/manuals
Where=/mnt/NAS/manuals
Type=nfs
Options=_netdev,auto

[Install]
WantedBy=multi-user.target
