[Unit]
Description=Run daily Clamscan at 14:00

[Timer]
OnCalendar=*-*-* 14:00
Persistent=true
Unit=clamscan.service

[Install]
WantedBy=timers.target
