[Unit]
Description=Daily Clamscan
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/clamscan \
  --exclude-dir=/run/user/bernhard/gvfs \
  --exclude-dir=/home/bernhard/.gvfs \
  --exclude-dir=/home/bernhard/.cache/ibus \
  --detect-pua --recursive /home/bernhard
Slice=clanscan-cpulimit.slice
StandardOutput=append:/var/log/clamav/clamscan.log
