[Unit]
Description=Run weekly freshclam updateDB every day, every hour 21 minutes past the hour

[Timer]
OnCalendar=*-*-* *:21:00
Persistent=true
Unit=freshclam-updatedb.service

[Install]
WantedBy=timers.target
