---
- name: System-setup | fix-log-msg block
  become: true
  become_method: ansible.builtin.sudo
  block:
    #
    # fix: Error message: systemd-udevd[447]: sdb3: Process '/usr/bin/unshare -m /usr/bin/snap auto-import 
    #                     --mount=/dev/sdb3' failed with exit code 1.
    - name: System-setup | fix-log-msg | delete file causing systemd-udevd snap auto-import errors
      ansible.builtin.file:
        path: /lib/udev/rules.d/66-snapd-autoimport.rules
        owner: root
        group: root
        mode: "0644"
        state: absent

    #
    # fix: Error message: kernel: IPv6: MLD: clamping QRV from 1 to 2!
    #
    - name: System-setup | fix-log-msg | create 95-ipv6-mld.conf file in /etc/sysctl.d
      ansible.builtin.copy:
        dest: "/etc/sysctl.d/95-ipv6-mld.conf"
        content: |
          #
          # kernel: IPv6: MLD: clamping QRV from 1 to 2! (lots of these messages in journalctl)
          #
          net.ipv6.mld_qrv = 1
        owner: root
        group: root
        mode: "0644"

    #
    # fix: Error message: kernel: apparmor="AUDIT" ... comm="steuern.lu.2024" requested="userns_create" target="unprivileged_userns"
    #
    - name: System-setup | fix-log-msg | create 95-unprivileged-userns.conf file in /etc/sysctl.d
      ansible.builtin.copy:
        dest: "/etc/sysctl.d/95-unprivileged-userns.conf"
        content: |
          #
          # kernel: apparmor="AUDIT" operation="userns_create" class="namespace"
          #   info="Userns create - transitioning profile" profile="unconfined"
          #   comm="steuern.lu.2024" requested="userns_create" target="unprivileged_userns"
          #
          kernel.apparmor_restrict_unprivileged_userns = 0
        owner: root
        group: root
        mode: "0644"

    #
    # fix: Error message: bluetoothd[1674]: profiles/sap/server.c:sap_server_register() Sap driver initialization failed.
    #      bluetooth.service: ConfigurationDirectory 'bluetooth' already exists but the mode is different.
    #      ... (File system: 755 ConfigurationDirectoryMode: 555)
    #
    - name: System-setup | bluetooth | create bluetooth.service.d directory
      become: true
      become_user: root
      ansible.builtin.file:
        path: /etc/systemd/system/bluetooth.service.d
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: System-setup | bluetooth | create override.conf file
      ansible.builtin.copy:
        dest: /etc/systemd/system/bluetooth.service.d/override.conf
        content: |
          [Service]
          ExecStart=
          ExecStart=/usr/libexec/bluetooth/bluetoothd --noplugin=sap --experimental
        owner: root
        group: root
        mode: "0644"

    - name: System_setup | bluetooth | Change ConfigurationDirectoryMode from 0700 to 0755
      ansible.builtin.replace:
        path: /usr/lib/systemd/system/bluetooth.service
        regexp: '^ConfigurationDirectoryMode=0700"'
        replace: 'ConfigurationDirectoryMode=0755"'

    #
    # fix: Error message: During shutdown - ] usb 2-8: Failed to set U1 timout to 0x0, error code -113 
    #
    - name: System-setup | fix-log-msg | create 75-usb-failed-timeout.rules file in /etc/udev/rules.d
      ansible.builtin.copy:
        dest: /lib/udev/rules.d/75-usb-failed-timeout.rules
        content: |
          #
          # prevent error messages during shutdown
          # ] usb 2-8: Failed to set U1 timout to 0x0, error code -113
          # ] usb 2-8: Failed to set U1 timout to 0x1e, error code -113
          # ] usb 2-8: Failed to set U1 timout to 0x3f, error code -113
          #
          ACTION=="add", SUBSYSTEM=="usb", TEST=="power/control", ATTR{power/control}="on"
        owner: root
        group: root
        mode: "0644"
    #
    # fix: Error message: kernel: r8169 0000:03:00.0: can't disable ASPM; OS doesn't have ASPM control 
    #
    - name: System-setup | fix-log-msg | install fwts (Firmware Test Suite)
      ansible.builtin.apt:
        name: fwts
        state: present
    #
    # fix: Error message: Permissions for /etc/netplan/01-network-manager-all.yaml are too open.
    #
    - name: System-setup | fix-log-msg | change permission for 01-network-manager-all.yaml
      ansible.builtin.file:
        path: /etc/netplan/01-network-manager-all.yaml
        owner: root
        group: root
        mode: "0600"
    #
    # fix: Error message: systemd-udevd[483]: /usr/lib/udev/rules.d/90-alsa-restore.rules:16 
    #            GOTO="alsa_restore_std" has no matching label, ignoring.
    #
    - name: System_setup | alsa-error | Replace LABEL alsa-restore-go line
      ansible.builtin.replace:
        path: /usr/lib/udev/rules.d/90-alsa-restore.rules
        regexp: '^LABEL="alsa_restore_go"'
        replace: 'LABEL="alsa_restore_std"'
            
    - name: System_setup | alsa-error | Insert LABEL line
      ansible.builtin.lineinfile:
        path: /usr/lib/udev/rules.d/90-alsa-restore.rules
        insertbefore: '^ENV{ALSA_CARD_NUMBER'
        line: 'LABEL="alsa_restore_go"'
        state: present

    #
    # fix: Error message: dbus-broker-launch[2010]:
    # dbus-broker-launch[2010]: Service file '/usr/share//dbus-1/services/nemo.FileManager1.service'
    #          is not named after the D-Bus name 'org.freedesktop.FileManager1'.
    # dbus-broker-launch[2010]: Service file '/usr/share//dbus-1/services/nemo.service' is not named after the D-Bus name 'org.Nemo'.
    # dbus-broker-launch[2010]: Ignoring duplicate name 'org.freedesktop.FileManager1' in service file '/usr/share//dbus-1/services/
    #          org.freedesktop.FileManager1.service'
    #
    - name: System_setup | fix-log-msg | Delete dbus-1 files for nemo
      ansible.builtin.file:
        path: /usr/share/dbus-1/services/nemo.FileManager1.service
        state: absent
           
    - name: System_setup | fix-log-msg | Check if nemo.service file exists
      ansible.builtin.stat:
        path: /usr/share/dbus-1/services/nemo.service
      register: check_file_name

    - name: System_setup | fix-log-msg | Copy dbus-1 file nemo.service to org.Nemo
      ansible.builtin.copy:
        remote_src: true
        src: /usr/share/dbus-1/services/nemo.service
        dest: /usr/share/dbus-1/services/org.Nemo
        owner: root
        group: root
        mode: "0600"
      when: check_file_name.stat.exists

    - name: System_setup | fix-log-msg | Delete dbus-1 file nemo.service
      ansible.builtin.file:
        path: /usr/share/dbus-1/services/nemo.service
        state: absent
      when: check_file_name.stat.exists

    #
    # fix: Error message: blueman.desktop[4871]: blueman-applet 09.36.17 WARNING  DiscvManager:122 update_menuitems: warning: Adapter is None
    #
    - name: System-setup | blueman error | create blueman.desktop in .config/autostart directory to override installed file
      ansible.builtin.copy:
        dest: /home/{{ user_name }}/.config/autostart/blueman.desktop
        content: |
          [Desktop Entry]
          Name=Blueman Applet
          Comment=Blueman Bluetooth Manager
          Icon=blueman
          Exec=blueman-tray
          Terminal=false
          Type=Application
          Categories=
        owner: "{{ user_name }}"
        group: "{{ group_name }}"
        mode: "0644"
